.alert-success {
  border-radius: 8px;
  font-size: 150%;
}

.btn-intro {
  display: block;
  min-height: 60px;
}

.register-button, .login-button {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
