.v-picker__title {
    display: none !important
}
.v-btn__content{
    font-size: 14pt;
}
.v-date-picker-table{
    font-size: 20pt; 
    height: 18rem !important;     
}
.v-date-picker-table table th {
    font-size: 12pt;
    color:rgb(12, 81, 160) !important;
}
.v-date-picker-header{
    font-size: 16pt;
            
}
.v-date-picker-header__value button {
    color: rgb(5, 111, 153) !important; 
}

.v-date-picker-header .v-icon {
    font-size: 34px !important;
    color: rgb(141, 98, 17) !important;
}

