/* You can add global styles to this file, and also import other style files */
@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";

body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, h5, .h5, .btn {
  font-size: 16px;
  //line-height: 24px;
}

.breadcrumb {
  margin-bottom: 0;
}

// ctx-* class is automatically added to the body element
.ctx-home {
  background: #f6f5f5;
}
.ctx-survey-editor .app-main {
  padding-bottom: 15px !important;
}

h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 28px;
}
h3, .h3 {
  font-size: 24px;
}

.mrgn-tp-sm {
  margin-top: 8px;
}
.mrgn-tp-md {
  margin-top: 1.5rem;
}
.mrgn-tp-lg {
  margin-top: 3rem;
}

.mrgn-bttm-sm {
  margin-bottom: 8px;
}
.mrgn-bttm-md {
  margin-bottom: 1.5rem;
}
.mrgn-bttm-lg {
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  letter-spacing: 0.05em;
}

.btn-group > .btn {
  // mygovbc CSS adds extra margin to buttons
  margin-right: 0;
}
.btn-default {
  margin: 0;
}
.btn-icon-left {
  margin-right: 0.25em;
}
.btn-icon-right {
  margin-left: 0.25em;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 20px;
}

// needed for sidebar - override normal breakpoint-dependent container width
.container {
  width: auto;
  @media (min-width:768px) {
    max-width: 750px;
  }
  @media (min-width:992px) {
    max-width: 970px;
  }
  @media (min-width:1200px){
    max-width:1170px
  }
}

// loading indicator
@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

$indicator-color: #666;
$indicator-size: 1em;
$indicator-thickness: 0.2em;
.loading-indicator {
	&, &:after {
		border-radius: 50%;
		width: $indicator-size;
		height: $indicator-size;
	}
	animation: spin 1.1s infinite linear;
	border: $indicator-thickness solid transparent;
	border-top-color: $indicator-color;
	line-height: 1;
	margin: 0 auto;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	&:after {
		position: absolute;
		top: (- $indicator-thickness);
		left: (- $indicator-thickness);
		border: $indicator-thickness solid transparentize($indicator-color, 0.8);
		content: ' ';
	}
}

.page-load {
  font-size: 2rem;
}

.glossary-link {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  margin-bottom: -1px;
  text-decoration: none;
}
.glossary-link:hover, .glossary-link.active {
  border-bottom-style: solid;
  text-decoration: none;
}

.tooltip-inner {
  font-size: 14px;
}
.glossary-popup {
  &.in {
    opacity: 0.98;
  }
  &.bottom > .tooltip-arrow {
    border-bottom-color: #365ebe;
  }
  > .tooltip-inner {
    h1, h2, h3, h4, h5 {
      color: #fff;
      margin: 0;
    }
    a {
      color: #fff;
    }
    background: #365ebe;
    border-radius: 8px;
    font-size: 16px;
    padding: 1rem 1.25rem 0.25rem;
    max-width: 450px;
    text-align: left;
  }
}

@import "survey";
