/* You can add global styles to this file, and also import other style files */
@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";

body, h5, .h5, .btn {
  font-size: 15px;
}

.app-content {
  padding-bottom: 80px;
}
h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 28px;
}
h3, .h3 {
  font-size: 24px;
}

.mrgn-tp-sm {
  margin-top: 8px;
}
.mrgn-tp-md {
  margin-top: 1.5rem;
}
.mrgn-tp-lg {
  margin-top: 3rem;
}

.mrgn-bttm-sm {
  margin-bottom: 8px;
}
.mrgn-bttm-md {
  margin-bottom: 1.5rem;
}
.mrgn-bttm-lg {
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  letter-spacing: 0.05em;
}

.btn-group > .btn {
  // why is this necessary??
  margin-right: 0;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 20px;
}

.survey-container {
  font-size: 16px;
  .sv_qstn_title {
    color: #556077;
    font-size: 18px;
    margin-top: 15px;
  }
  .sv_qstn {
    margin-bottom: 5px;
  }
  .panel-footer {
    background: none;
    border: none;
  }
}

.sv_p_container {
  // survey panel
  background: #f8f8f8;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 0.5em 1em;
  margin: 0.5em 0;
}

.survey-helptext {
  background: #f8faff;
  border: 1px solid #d3d3d8;
  border-radius: 4px;
  margin: 0.5em;
  .panel-heading {
    color: #55555a;
  }
  .panel-title {
    cursor: pointer;
    display: block;
    font-size: 20px;
  }
  .panel-body {
    background: #fff;
    border: 1px solid #e0e3e9;
    border-radius: 2px;
    display: none;
    margin: 0 5px 5px 5px;
    padding: 10px;
  }
  .heading-icon {
    margin-right: 0.5em;
  }
  .heading-expand {
    float: right;
  }
  &.expanded .panel-body {
    display: block;
  }
}
