$bootstrap-sass-asset-helper: true;
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "../variables";

.app-outer {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

.app-content {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  max-width: 100%;
}

.app-main {
  flex: auto;
  padding: 0 15px 80px;
}

.sidebar-left, .sidebar-right {
  display: block;
  flex: none;
  overflow: hidden;
  position: relative;
  transition: width 0.2s linear;
  width: $sidebar-width;
  &.insert-hidden {
    width: 0;
  }
}
