<div class="app-outer">
  <header class="app-header">
    <div class="container-fluid">
      <div class="row header-row">
        <div class="col-sm-10 header-ident">
          <a href="https://family-protection-order-dev.pathfinder.gov.bc.ca/protection-order/" tabindex="-1" class="logo-link">
            <img class="header-logo"
                 tabindex="-1" alt="B.C. Government Logo"
                 src="assets/bc-logo.svg">
          </a>
          <div class="title" role="banner">
            <span class="title-text">
              Apply for a Family Law Act Protection Order <span class="tag">BETA</span>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="header-links">
            <div id="app-profile" class="header-link">
              <a routerLink="/prv/status" class="btn btn-default" *ngIf="isPrv"><span class="fa fa-user"></span> Profile</a>
            </div>
            <div id="app-exit" class="header-link">
              <a target="_blank" href="https://www.google.ca" rel="external" class="btn btn-default" (click)="quickExit()"><span class="fa fa-sign-out"></span> Quick Exit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="app-content">
    <app-insert id="sidebar-left" class="sidebar-left"></app-insert>

    <div class="app-main">
      <!--<breadcrumb></breadcrumb>-->

      <router-outlet></router-outlet>
    </div>

    <app-insert id="sidebar-right" class="sidebar-right"></app-insert>
  </main>

  <footer class="app-footer">
    <nav class="navbar navbar-default navbar-footer navbar-static-bottom">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank">Disclaimer</a></li>
          <li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a></li>
          <li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank">Accessibility</a></li>
          <li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a></li>
          <li><a href="http://www2.gov.bc.ca/gov/content/home/contact-us"
                 target="_blank">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </footer>
</div>
