<div class="container home-content">
    <div class="intro">
        Is Victoria Law Courts' the nearest location to you OR the location where your existing matter has been filed?
        <form [formGroup]="locationForm" (ngSubmit)="submitLocationForm()">
            <div class="form-group">
                <label class="customLabel custom-control-label">
                    <input type="radio" formControlName="locationRadio" [value]="true">
                    Yes</label>
            </div>
            <div class="form-group">
                <label class="customLabel custom-control-label">
                    <input type="radio" formControlName="locationRadio" [value]="false">
                    No</label>
            </div>
            <button type="submit" [disabled]="locationRadio.invalid" class="btn btn-primary buttonClass">Next &nbsp;</button>
        </form>
    </div>
</div>