@import "../../variables";

.home-content {
    padding-bottom: 20px;
    padding-top: 8rem;
    max-width: 900px;
  }
  
  h1, h2 {
    font-weight: 600;
  }
  
.intro {
    font-size: 24px;
    line-height: 1.6;
    margin: 3rem auto 4rem;
    p {
      margin-bottom: 2rem;
    }
  }

.customLabel {
        font-weight: normal !important;
 }

.buttonClass {
    margin-left: 700px;
    padding-left: 30px;
    padding-right: 30px;
 }