<div class="container">

<h2>Glossary Editor</h2>

<div class="panel">
  <div class="panel-body" *ngFor="let item of terms">

    <div class="row term-head">
      <div class="col-sm-6">
        <input class="form-control term-name" [value]="item.term" (change)="updateTermName($event, item.index)">
      </div>
      <div class="col-sm-6">
        <a href="#" (click)="removeTerm($event, item.index)"><span class="fa fa-remove"></span> Remove</a>
      </div>
    </div>
    <div class="row term">
      <div class="col-sm-6">
        <textarea class="form-control term-value" rows="8"
          (input)="updateTermValue($event, item.index)"
          (change)="updateTermValue($event, item.index, true)"
          [value]="item.value"></textarea>
      </div>
      <div class="col-sm-6">
        <div class="term-html" [innerHTML]="item.html"></div>
      </div>
    </div>

  </div>
  <div class="panel-footer">
    <div class="row term-head">
      <div class="col-sm-6">
        <input class="form-control term-name" id="new-term-name" placeholder="new term" [value]="newTermName" (change)="updateTermName($event, null)">
      </div>
      <div class="col-sm-6">
        <a href="#" (click)="addTerm($event)"><span class="fa fa-plus"></span> Add Term</a>
      </div>
    </div>
    <div class="row term">
      <div class="col-sm-6">
        <textarea class="form-control term-value" id="new-term-value" rows="8" placeholder="description" [value]="newTermValue"
          (input)="updateTermValue($event, null)"
          (change)="updateTermValue($event, null, true)"></textarea>
      </div>
      <div class="col-sm-6">
        <div class="term-html" [innerHTML]="newTermHtml"></div>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">JSON result</h3>
  </div>
  <div class="panel-body">
    <textarea rows="20" class="form-control result-json" [value]="jsonPretty" (focus)="$event.target.select()"></textarea>
  </div>
</div>

</div>
