.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: BCSans,Noto Sans,Verdana,Arial,sans serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    opacity: 0.98 !important;
  }