// Protection Order Colours
// -----------------------------------------

$gov-white: #fff;
$gov-pale-grey: #e0e3ee;
$gov-light-grey: #ccc; //border colours
$gov-accent-grey: #b0b8c3; //button outlines

$text-color: #494949;

$gov-bg-grey: #f8f8f8; //sidebars, panels BG colours

// blues
$gov-blue-grey: #556077;
$gov-navy-blue: #003366;
$gov-mid-blue: #365ebe;

// Gold
$gov-gold: #fcba19;

// alerts
$alert-red: #a94442;

// Sidebar variables
$sidebar-width-md: 280px;
$sidebar-width-lg: 340px;

//link styles

$text-color-link: #1a5a96;
$text-color-link-hover: #0f3355;

//for testing
