<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Application About a Protection Order</h1>
  <div>Provincial Court (Family) Rules</div>
  <div>Early Resolution and Case Management Registry</div>
  <div class="container-header">
    <table>
      <tbody>
        <tr>
          <td>
            <label>Registry Location:</label>
            <span> {{x}} </span>
          </td>
        </tr>
        <tr>
          <td>
            <label>Court File Number:</label>
            <span> {{x}} </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
