<!-- div class="survey-cache-info" *ngIf="! loading">
  <span class="cache-time" *ngIf="cacheLoadTime">{{ cacheLoadTime | date: 'medium' }}</span>
  <button class="util-nav" *ngIf="cacheLoadTime" (click)="resetCache()">Restart Application</button>
  <a class="util-nav" routerLink="/prv/status">Profile</a>
  <button class="util-nav" (click)="logout()">Logout</button>
</div -->

<div class="page-load" *ngIf="loading && ! error">
  <div class="loading-indicator"></div>
</div>
<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>

<div class="survey-container contentcontainer codecontainer">
  <div id="surveyElement"></div>
</div>
<div class="survey-nav" *ngIf="! loading">
  <div class="survey-nav-left" *ngIf="! isFirstPage">
    <button class="btn btn-default btn-lg" (click)="prevPage()">
      <span class="fa fa-arrow-circle-left btn-icon-left"></span> Back
    </button>
  </div>
  <div class="survey-nav-right">
    <button class="btn btn-default btn-lg" (click)="nextPage()" *ngIf="! isLastPage">
      Next <span class="fa fa-arrow-circle-right btn-icon-right"></span>
    </button>
    <button class="btn btn-success btn-lg" (click)="complete()" *ngIf="isLastPage">
      <span class="fa fa-check-circle btn-icon-left"></span> Complete
    </button>
  </div>
</div>
