<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <div class="intro">
        <p>I need help with the following Family Law issues:</p>
        <p>Select all that apply</p>
          <form  [formGroup]="newUserServiceForm" (ngSubmit)="submitNewUserServiceForm()">
            <div *ngFor="let order of orders.controls; let i=index">
              <input type="checkbox" [formControl]="order"/> {{ typeOfService === 'newService' ? newUserToService.orders[i].name : newToService.orders[i].name}}
             </div>
            <button [disabled]="newUserServiceForm.invalid" type="submit" class="btn btn-primary buttonClass">Next</button>
          </form> 
      </div>
    </div>
  </div>
</div>