<div class="container home-content">
    <div class="row">
      <div class="col-md-12">
        <div class="intro">
          <p>What you need to get started:</p>
          <p>Try to collect as much information as possible before you start to complete this service. The type of information and documents you need will depend on what you are asking the court for. You might need:</p>
           <ul>
               <li>Birth dates, names, and other related information about the other party and your children</li>
               <li>Copies of any agreements or court orders you already have about a family law matter</li>
               <li>Information about the date you got married, started living together, separated and got divorced, if applicable</li>
               <li>If you are asking for child or spousal support, information about your income and, if you have it, the other party's income</li>
               <li>If you are asking for orders about children, information about your children's living arrangements, schedules and expenses</li>
           </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
              <a class="btn btn-primary btn-lg survey-button" routerLink="/qualify" tabindex="1"><strong>New User</strong> - Let’s get started</a>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-12">
              <a class="btn btn-default btn-md login-button" routerLink="/prv" tabindex="1">
                <strong>Returning User?</strong><br>
                Log in with BCeID
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>