<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Family Protection Orders
      </h1>

      <div class="intro">
        <p>Use this service to apply for a Family Law Protection Order from the Provincial Court
        of British Columbia. If you need a Family Law Protection Order from the Supreme Court
        of British Columbia instead, this service will not provide that for you.</p>

        <p><strong class="prefix">Time:</strong>
        The average time to complete this service is <strong>30min</strong>. If the Protection Order is urgent,
        you may get it the same day you file the application at a courthouse. A non-urgent
        Protection Order will take more time.</p>

        <p><strong class="prefix">Cost:</strong>
        This service is <strong>free</strong>. The Government of British Columbia does not charge fees for
        Family Law cases in the Provincial Court of British Columbia.</p>

        <p><strong class="prefix">Print:</strong>
        You will need a printer to print your application.</p>


        <section class="need-to-know">
          <h2>What you need to know:</h2>
          <p>Call 9-1-1 if you are in immediate danger.</p>

          <dl>
            <dt>What should I do if I'm not in immediate danger but am still afraid for my safety?</dt>
            <dd>Victim Services can help you develop a personal safety plan.</dd>
          </dl>
        </section>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary btn-lg survey-button" routerLink="qualify" tabindex="1"><strong>New User</strong> - Let’s get started</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default btn-md login-button" routerLink="prv" tabindex="1">
        <strong>Returning User?</strong><br>
        Log in with BCeID
      </a>
    </div>
  </div>

</div>
