<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Apply for Family Order
      </h1>

      <div class="intro">
        <p>
          This service will help you fill out forms needed to apply for FAMILY LAW ORDERS in Provincial Court.
          You can use this service to apply to the court for family law orders about:
        </p>
        <ul>
          <li>Protection from family violence</li>
          <li>Family Law Matters including parenting arrangements, child support, contact with a child, guardianship of
            a
            child and spousal support under the Family Law Act</li>
          <li>Case Management</li>
          <li>Priority Parenting Matters</li>
          <li>Relocation of a child</li>
          <li>Enforcement of agreements and court orders under the Family Law Act</li>
        </ul>
        <p>Select the option that best applies to you:</p>
        <form [formGroup]="typeOfServiceForm" (ngSubmit)="submitServiceTypeForm()">
          <div class="form-group">
            <label class="customLabel custom-control-label">
              <input type="radio" formControlName="serviceRadio" value="returningUser">
              I am a returning user and want to access my
              saved work or continue with another application</label>
          </div>
          <div class="form-group">
            <label class="customLabel custom-control-label">
              <input type="radio" formControlName="serviceRadio" value="newService">
              My case has already started (myself or
              another person has filed documents with the court and we have a court file) but I am new to this
              service</label>
          </div>
          <div class="form-group">
            <label class="customLabel custom-control-label">
              <input type="radio" formControlName="serviceRadio" value="new">
              I want to start a case using this
              service</label>
          </div>
          <button [disabled]="serviceRadio.invalid" type="submit" class="btn btn-primary buttonClass">Next</button>
        </form>
      </div>
    </div>
  </div>
</div>