<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Family Protection Orders
      </h1>

      <div class="intro">
        <p>Use this service to apply for a Protection Order under the Family Law Act from the <b>Provincial Court</b>
        of British Columbia. This service cannot be used to apply for a Protection Order from the Supreme Court of British Columbia.</p>

        <section class="need-to-know">
          <h2>What you need to know:</h2>
          <p>Call 9-1-1 if you are in immediate danger. Please use a safer computer (for example, at a Public Library).</p>

          <dl>
            <dt>What should you do if you are not in immediate danger but are still afraid for your safety?</dt>
            <dd>VictimLinkBC can help you develop a personal safety plan. Call: 1-800-563-0808 | TTY: 604-875-0885 | Text: 604-863-6381</dd>
          </dl>
        </section>

       <p><strong class="prefix">Time:</strong>
        The average time to complete this service is <strong>30-45 minutes</strong>. This service will save your information and you can come back to it any time. If your situation is urgent and you need a Protection Order right away,
        a judge may hear your application the same day you file it at a courthouse.  If your situation is not urgent, the application will take more time.</p>

        <p><strong class="prefix">Cost:</strong>
        This service is <strong>free</strong>. The Government of British Columbia does not charge fees for
        Family Law cases in the Provincial Court of British Columbia.</p>

        <p><strong class="prefix">Print:</strong>
        You will need to print your application and file it at a Provincial Courthouse. At this time, applications cannot by filed electronically.</p>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary btn-lg survey-button" routerLink="qualify" tabindex="1"><strong>New User</strong> - Let’s get started</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default btn-md login-button" routerLink="prv" tabindex="1">
        <strong>Returning User?</strong><br>
        Log in with BCeID
      </a>
    </div>
  </div>

</div>