@import "../../variables";

.home-content {
  padding-bottom: 20px;
  padding-top: 8rem;
  max-width: 900px;
}

h1, h2 {
  font-weight: 600;
}

.intro {
  font-size: 24px;
  line-height: 1.6;
  margin: 3rem auto 4rem;
  p {
    margin-bottom: 2rem;
  }
}

.prefix {
  padding-right: 0.25em;
  .fa {
    padding-right: 0.15em;
  }
}

.alert {
  h2, h3, h4 {
    color: inherit;
  }
}

.steps {
  .step {
    background-color: rgba(#000, 0.35);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 10px 5px;
  }
  h3 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0.2em;
    margin-left: 0.5em;
  }
}

.step-info {
  color: $gov-pale-grey;
  font-size: 18px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin: 0 1em 0.5em;
}

.ordinal {
  baseline-shift: -.2em;
  border: 2px solid $gov-white;
  border-radius: 50%;
  display: inline-block;
  height: 1.75em;
  line-height: 1.2;
  margin-right: 0.25em;
  padding: 0.3em;
  text-align: center;
  width: 1.75em;
}

.survey-button {
  border: 2px solid rgba($gov-pale-grey, 0.3);
  margin-top: 2.5rem;
  &:active {
    border: 2px solid rgba($gov-white, 0.8);
  }
}

.login-button {
  background-color: $gov-gold;
  border: 2px solid rgba($gov-accent-grey, 0.8);
  color: $gov-mid-blue;
  margin-top: 2.5rem;
  &:hover, &:focus {
    background-color: darken($gov-gold, 8%);
    color: #222;
  }
  &:active {
    border: 2px solid rgba($gov-white, 0.8);
  }
}

.returning {
  color: $gov-white;
  margin-top: 2rem;
  p {
    margin-bottom: 0.4rem;
  }
  a {
    color: $gov-white;
    text-decoration: none;
    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}

// Need to know area
.need-to-know{
  color: $alert-red;
  margin-top: 1rem;
  border: 1px solid $alert-red;
  border-radius: 8px;
  padding: 1.5rem;
  > h2{ color: $alert-red;}
  }
