<div class="user-status-info">
  <button type="button" class="btn btn-default" *ngIf="loggedIn" (click)="logout()">
    <span class="fa fa-sign-out"></span> Logout
  </button>
</div>

<div class="page-load" *ngIf="loading && ! error">
  <div class="loading-indicator"></div>
</div>
<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>

<div class="container mrgn-tp-lg" *ngIf="! loading">
  <h2 *ngIf="! loggedIn">Not logged in</h2>

  <div class="login mrgn-tp-md" *ngIf="! loggedIn">
    <div class="panel" style="max-width: 600px">
      <div class="panel-heading">
        <h2 class="panel-title">Demo Login</h2>
      </div>
      <div class="panel-body">
        <form action="#" (submit)="performLogin($event.target.elements['login'].value)">
          <div class="row form-group">
            <div class="col-sm-12">
              <input class="form-control" name="login" placeholder="email address">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-right">
              <button class="btn btn-default" type="submit">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="accept-terms mrgn-tp-md" *ngIf="loggedIn && ! acceptedTerms">
    <div class="panel terms-panel">
      <div class="panel-heading">
        <h2>Terms and Conditions</h2>
      </div>
      <div class="panel-body">
        <terms-content></terms-content>
      </div>
      <div class="panel-footer">
        <div class="checkbox">
          <input type="checkbox" class="form-control" (change)="setPreAccept($event.target.checked)"> <label>I agree to the "Apply for a Family Law Protection Order" Terms of Use</label>
        </div>
        <button type="button" class="btn btn-default" (click)="acceptTerms()" [disabled]="! preAccept">Accept and Continue</button>
      </div>
    </div>
  </div>

  <div class="row status" *ngIf="loggedIn && acceptedTerms">
    <div class="col-sm-12">
      <h2 *ngIf="surveyIndex.length">Previous Applications</h2>
      <div class="history mrgn-tp-md" *ngIf="surveyIndex.length">
        <div class="row form-group" *ngFor="let entry of surveyIndex">
          <div class="col-sm-4">
            {{ entry.time | date: 'medium' }}
            <em *ngIf="! entry.completed"> (in progress)</em>
            <em *ngIf="entry.completed"> (completed)</em>
          </div>
          <div class="col-sm-8">
            <button type="button" class="btn btn-default btn-sm resume-button" tabindex="1" (click)="resumeSurvey(entry.key)">Resume Application</button>
            <button type="button" class="btn btn-default btn-sm remove-button" tabindex="1" (click)="removeSurvey(entry.key)">Remove</button>
            <button type="button" class="btn btn-default btn-sm print-button" tabindex="1" *ngIf="entry.completed" (click)="showPrintSurvey(entry.key)">Print Application</button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg survey-button" tabindex="1" (click)="beginSurvey()">Begin the Application</button>

      <p class="mrgn-tp-lg">
        <a routerLink="/prv/terms">Terms and Conditions</a>
      </p>
    </div>
  </div>
</div>
