@import "../../variables";

// login/logout - position top.
.user-status-info {
  margin-bottom: -2em;
  padding: 1em 1.5em;
  text-align: right;
  z-index: 100;
}
// login/log-out button
button.util-nav {
  background: none;
  border: none;
  padding-top: .65em;
}

// Terms & Conditions
.terms-panel{
  > h2 {
    font-size: 2em;
  }
  box-shadow: none;
  border: none;
  background: $gov-white;
  > h3{
    margin-bottom: .25em;
  }
}

.terms-panel .panel-footer{
  background-color: $gov-white;
  border-top: 1px solid $gov-light-grey;
  > .checkbox{margin-bottom: 1.5em;}
}
