name: OWASP SCAN

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  scan:
    runs-on: ubuntu-latest
    name: Scan the web application
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: ${{ secrets.OWASP_SCAN_URL }}
          cmd_options: '-a'
          allow_issue_writing: false      
